#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Line_1 {
  rotation: 90.0;
  margin-left: 84px;
  margin-top: -85px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Line_2 {
  rotation: 90.0;
  margin-left: 84px;
  margin-top: -85px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Line_5 {
  rotation: 90.0;
  margin-left: 324px;
  margin-top: -325px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Line_11 {
  rotation: 270.0;
  margin-left: 95px;
  margin-top: -97px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Line_12 {
  rotation: 270.0;
  margin-left: 96px;
  margin-top: -97px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Line_15 {
  rotation: 270.0;
  margin-left: 95px;
  margin-top: -97px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Line_16 {
  rotation: 270.0;
  margin-left: 96px;
  margin-top: -97px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Line_19 {
  rotation: 270.0;
  margin-left: 95px;
  margin-top: -97px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Line_20 {
  rotation: 270.0;
  margin-left: 96px;
  margin-top: -97px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Line_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Line_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Paragraph_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Line_23 {
  rotation: 270.0;
  margin-left: 95px;
  margin-top: -97px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Line_24 {
  rotation: 270.0;
  margin-left: 96px;
  margin-top: -97px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12d6b07f-622e-4401-89a9-341863c6f6c5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}