#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Line_1 {
  rotation: 90.0;
  margin-left: 84px;
  margin-top: -85px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Line_2 {
  rotation: 90.0;
  margin-left: 84px;
  margin-top: -85px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Input_2 INPUT {
  font-family: Arial;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da #s-Input_4 INPUT {
  font-family: Arial;
}
#s-1a018bc1-8964-41e5-b6f6-ee4114c108da > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}