#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Line_1 {
  rotation: 90.0;
  margin-left: 84px;
  margin-top: -85px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Line_2 {
  rotation: 90.0;
  margin-left: 84px;
  margin-top: -85px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-471c7265-c1e5-45ca-a78c-6de93be7cb1e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}