#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Line_1 {
  stroke-width: 1px;
  stroke: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Line_1 {
  stroke-width: 1px;
  stroke: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Line_2 {
  stroke-width: 1px;
  stroke: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Line_2 {
  stroke-width: 1px;
  stroke: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Title_10 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Title_11 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Title_12 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Title_13 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Title_14 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Title_15 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Title_16 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Title_17 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Title_18 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Title_19 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Title_20 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Title_21 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Line_4 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Line_4 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-682428d2-1820-472d-ab3e-19f5b249b7a8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}