#s-9cc9115f-f958-48bb-94e8-d0a1ff21774b #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cc9115f-f958-48bb-94e8-d0a1ff21774b #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cc9115f-f958-48bb-94e8-d0a1ff21774b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cc9115f-f958-48bb-94e8-d0a1ff21774b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cc9115f-f958-48bb-94e8-d0a1ff21774b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cc9115f-f958-48bb-94e8-d0a1ff21774b #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cc9115f-f958-48bb-94e8-d0a1ff21774b #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cc9115f-f958-48bb-94e8-d0a1ff21774b #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cc9115f-f958-48bb-94e8-d0a1ff21774b #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cc9115f-f958-48bb-94e8-d0a1ff21774b #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cc9115f-f958-48bb-94e8-d0a1ff21774b #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cc9115f-f958-48bb-94e8-d0a1ff21774b #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cc9115f-f958-48bb-94e8-d0a1ff21774b #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cc9115f-f958-48bb-94e8-d0a1ff21774b #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cc9115f-f958-48bb-94e8-d0a1ff21774b #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cc9115f-f958-48bb-94e8-d0a1ff21774b #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cc9115f-f958-48bb-94e8-d0a1ff21774b #s-Line_1 {
  rotation: 90.0;
  margin-left: 84px;
  margin-top: -85px;
}
#s-9cc9115f-f958-48bb-94e8-d0a1ff21774b #s-Line_2 {
  rotation: 90.0;
  margin-left: 84px;
  margin-top: -85px;
}
#s-9cc9115f-f958-48bb-94e8-d0a1ff21774b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cc9115f-f958-48bb-94e8-d0a1ff21774b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cc9115f-f958-48bb-94e8-d0a1ff21774b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9cc9115f-f958-48bb-94e8-d0a1ff21774b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}