#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Line_1 {
  rotation: 90.0;
  margin-left: 84px;
  margin-top: -85px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Line_2 {
  rotation: 90.0;
  margin-left: 84px;
  margin-top: -85px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f #s-arrow_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab4d010-e057-4c02-9d37-cb9c7c2ef48f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}